*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: rgb(77,255,193);
    background: linear-gradient(227deg, rgba(77,255,193,1) 0%, rgba(62,0,185,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #0303b8;
}

h1{
    margin-bottom: 20px;
    color: #0303b8;
    position: relative;
}

h1::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(227deg, rgba(77,255,193,1) 0%, rgba(62,0,185,1) 100%);
    right: 0;
    top: 30%;
    border-radius: 50%;
}

h1::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(227deg, #4dffc1 0%, rgba(62,0,185,1) 100%);
    left: 0;
    top: 30%;
    border-radius: 50%;
}


.form-container{
    background-color: white;
    width: 450px;
    max-width: 100%;
    padding: 3rem;
    margin: 10px;
    position: relative;
}

.form-close-btn{
    position: absolute;
    right: 40px;
    top: 25px;
}

.form-container h1{
    text-align: center;
    padding-bottom: .5rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > div {
    margin-block: 10px;
}

input{
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #691eff, #10e79c);
    border-image-slice: 1;
    padding-block: 5px;
    font-size: 1rem;
}

input:focus-visible{
    outline: none;
}

input[type="checkbox"]{
    border: none;
}

div > input{
    margin: 0;
    margin-right: 10px;
}

button{
    width: 200px;
    margin: auto;
    margin-block: 20px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background: rgb(77,255,193);
background: linear-gradient(227deg, rgba(77,255,193,1) 0%, rgba(62,0,185,1) 100%);
    color: #ffffff;
}

p{
    text-align:center;
}